# =========================
# Data
# =========================
data:
  root: /content/drive/MyDrive/build_llm_from_scratch/data

  datasets:
    tinystories:
      train_file: TinyStoriesV2-GPT4-train.txt
      valid_file: TinyStoriesV2-GPT4-valid.txt

    owt:
      train_file: owt_train.txt
      valid_file: owt_valid.txt

# =========================
# Tokenizer
# =========================
tokenizer:
  vocab_size: 32000
  model_type: bpe
  lowercase: false

  # 保存路径
  save_dir: /content/drive/MyDrive/build_llm_from_scratch/tokenizer

# ==========================
# Checkpointing
# ==========================
checkpoint:
  # checkpoint 目录（建议放到你的 drive 里）
  save_dir: /content/drive/MyDrive/build_llm_from_scratch/checkpoints

  # （可选）命名模板：默认会保存成 ckpt_step00000010.pt 这种
  filename_prefix: ckpt_step

  # （可选）是否额外保存一个 latest.pt 的软链接/副本（Colab/Drive 下建议用“副本”）
  write_latest: true
